@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
body {
    box-sizing: border-box;
    max-height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}


/*---navbar section----*/

.navbar-brand {
    color: rgb(105, 228, 234) !important;
    font-size: 25px;
}


/*---timer section----*/

.zero {
    font-size: 40px;
}


/*---control section----*/

.icon {
    color: rgb(105, 228, 234);
}

.icon:hover {
    color: #000;
}

#button-start,
#button-stop,
#button-reset {
    background-color: #000;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid rgb(105, 228, 234);
}

#button-start:hover {
    background-color: rgb(105, 228, 234);
}

#button-stop:hover {
    background-color: rgb(105, 228, 234);
}

#button-reset:hover {
    background-color: rgb(105, 228, 234);
}